# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc

# Jupyter Notebook Checkpoints
.ipynb_checkpoints/

# VS Code Settings
.vscode/

# OS Files
.DS_Store
Thumbs.db

# Model Files (optional)
*.pkl
